{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__COVERAGE__" : false,
    "__BASENAME__": false,
    "gql": false,
  },
  "rules": {
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "react/prefer-stateless-function": 0
  },
  "settings": {
    "import/ignore": ['node_modules', '\.(scss|less|css|jpg)$'],
    "import/resolver": {
      "webpack": {
        "config": './build/webpack.config.babel.js'
      }
    }
  }
}
